<a href="https://colab.research.google.com/github/layanbuirat/ENCS5141-INTELLIGENT-S-ENCO-COMPUTER-ENGINEERING---YSTEMS-LAB---/blob/main/Manipulating_Datasets_using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# create a simple list
a = [1, 7, 2]
# create series from a list
my_Series = pd.Series(a)
print(my_Series)

0    1
1    7
2    2
dtype: int64

In [ ]:
import pandas as pd
# a simple dictionary
calories = {"day1": 420, "day2": 380, "day3": 390}
# create series from dictionary
my_Series = pd.Series(calories)
print(my_Series)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
import pandas as pd
# Initialize data to a series.
d = pd.Series([10, 20, 30, 40])
# creates Dataframe.
df = pd.DataFrame(d)
# print the data.
print(df)

    0
0  10
1  20
2  30
3  40

In [ ]:
import pandas as pd
# initialize the data of lists.
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],

'Age': [20, 21, 19, 18]}

# Create DataFrame
df = pd.DataFrame(data)
# Print the output.
print(df)

     Name  Age
0   Ahmad   20
1     Ali   21
2    Omar   19
3  Hamzah   18

In [ ]:
import pandas as pd
data = {
"calories": [420, 380, 390],
"duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Dinner.csv to Dinner.csv

In [ ]:
import pandas as pd
df = pd.read_csv('Dinner.csv')  # Now the file is in Colab's working directory
print(df)

    Waiter  total_bill   tip smoker  day    time  size
0       10       16.99  1.01     No  Sun  Dinner     2
1       10       10.34  1.66     No  Sun  Dinner     3
2       11       21.01  3.50     No  Sun  Dinner     3
3       11       23.68  3.31     No  Sun  Dinner     2
4       22       24.59  3.61     No  Sun  Dinner     4
5       13       25.29  4.71     No  Sun  Dinner     4
6       10        8.77  2.00     No  Sun  Dinner     2
7       30       26.88  3.12     No  Sun  Dinner     4
8       15       15.04  1.96     No  Sun  Dinner     2
9       30       14.78  3.23     No  Sun  Dinner     2
10      15       10.27  1.71     No  Sun  Dinner     2
11      30       35.26  5.00     No  Sun  Dinner     4
12      10       15.42  1.57     No  Sun  Dinner     2
13      11       18.43  3.00     No  Sun  Dinner     4
14      11       14.83  3.02     No  Sun  Dinner     2
15      30       21.58  3.92     No  Sun  Dinner     2
16      11       10.33  1.67     No  Sun  Dinner     3
17      10       16.29  3.71     No  Sun  Dinner     3
18      12       16.97  3.50     No  Sun  Dinner     3
19      12       20.65  3.35     No  Sat  Dinner     3
20      11       17.92  4.08     No  Sat  Dinner     2
21      11       20.29  2.75     No  Sat  Dinner     2
22      10       15.77  2.23     No  Sat  Dinner     2
23      33       39.42  7.58     No  Sat  Dinner     4
24      33       19.82  3.18     No  Sat  Dinner     2

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Lunch.csv to Lunch.csv

In [ ]:
import pandas as pd
df = pd.read_csv('Lunch.csv')  # Now the file is in Colab's working directory
print(df)

    Waiter  total_bill   tip smoker   day   time  size
0       10       27.20  4.00     No  Thur  Lunch     4
1       10       22.76  3.00     No  Thur  Lunch     2
2       11       17.29  2.71     No  Thur  Lunch     2
3       11       19.44  3.00    Yes  Thur  Lunch     2
4       33       16.66  3.40     No  Thur  Lunch     2
5       33       10.07  1.83     No  Thur  Lunch     1
6       30       32.68  5.00    Yes  Thur  Lunch     2
7       30       15.98  2.03     No  Thur  Lunch     2
8       12       34.83  5.17     No  Thur  Lunch     4
9       10       13.03  2.00     No  Thur  Lunch     2
10      11       18.28  4.00     No  Thur  Lunch     2
11      12       24.71  5.85     No  Thur  Lunch     2
12      33       21.16  3.00     No  Thur  Lunch     2

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Waiters.csv to Waiters.csv

In [ ]:
import pandas as pd
df = pd.read_csv('Waiters.csv')  # Now the file is in Colab's working directory
print(df)

   Waiter       type
0      10  full time
1      11  part time
2      33  full time
3      30  full time
4      12  part time
5      20  part time

In [ ]:
import pandas as pd
df = pd.read_csv('Dinner.csv')
print(df.head())

   Waiter  total_bill   tip smoker  day    time  size
0      10       16.99  1.01     No  Sun  Dinner     2
1      10       10.34  1.66     No  Sun  Dinner     3
2      11       21.01  3.50     No  Sun  Dinner     3
3      11       23.68  3.31     No  Sun  Dinner     2
4      22       24.59  3.61     No  Sun  Dinner     4

In [ ]:
import pandas as pd
df = pd.read_csv('Lunch.csv')
print(df.head())

   Waiter  total_bill   tip smoker   day   time  size
0      10       27.20  4.00     No  Thur  Lunch     4
1      10       22.76  3.00     No  Thur  Lunch     2
2      11       17.29  2.71     No  Thur  Lunch     2
3      11       19.44  3.00    Yes  Thur  Lunch     2
4      33       16.66  3.40     No  Thur  Lunch     2

In [ ]:
import pandas as pd
df = pd.read_csv('Waiters.csv')
print(df.head())

   Waiter       type
0      10  full time
1      11  part time
2      33  full time
3      30  full time
4      12  part time

In [ ]:
import pandas as pd
df = pd.read_csv('Waiters.csv')
print(df.tail())

   Waiter       type
1      11  part time
2      33  full time
3      30  full time
4      12  part time
5      20  part time

In [ ]:
import pandas as pd
df = pd.read_csv('Dinner.csv')
print(df.tail())

    Waiter  total_bill   tip smoker  day    time  size
20      11       17.92  4.08     No  Sat  Dinner     2
21      11       20.29  2.75     No  Sat  Dinner     2
22      10       15.77  2.23     No  Sat  Dinner     2
23      33       39.42  7.58     No  Sat  Dinner     4
24      33       19.82  3.18     No  Sat  Dinner     2

In [ ]:
import pandas as pd
df = pd.read_csv('Lunch.csv')
print(df.tail())

    Waiter  total_bill   tip smoker   day   time  size
8       12       34.83  5.17     No  Thur  Lunch     4
9       10       13.03  2.00     No  Thur  Lunch     2
10      11       18.28  4.00     No  Thur  Lunch     2
11      12       24.71  5.85     No  Thur  Lunch     2
12      33       21.16  3.00     No  Thur  Lunch     2

In [ ]:
import pandas as pd
df = pd.read_csv('Dinner.csv')
print(df.shape)

(25, 7)

In [ ]:
import pandas as pd
df = pd.read_csv('Lunch.csv')
print(df.shape)

(13, 7)

In [ ]:
import pandas as pd
df = pd.read_csv('Waiters.csv')
print(df.shape)

(6, 2)

In [ ]:
import pandas as pd
df = pd.read_csv('Dinner.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Waiter      25 non-null     int64
 1   total_bill  25 non-null     float64
 2   tip         25 non-null     float64
 3   smoker      25 non-null     object
 4   day         25 non-null     object
 5   time        25 non-null     object
 6   size        25 non-null     int64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.5+ KB
None

In [ ]:
import pandas as pd
df = pd.read_csv('Lunch.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Waiter      13 non-null     int64
 1   total_bill  13 non-null     float64
 2   tip         13 non-null     float64
 3   smoker      13 non-null     object
 4   day         13 non-null     object
 5   time        13 non-null     object
 6   size        13 non-null     int64
dtypes: float64(2), int64(2), object(3)
memory usage: 860.0+ bytes
None

In [ ]:
import pandas as pd
df = pd.read_csv('Waiters.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Waiter  6 non-null      int64
 1   type    6 non-null      object
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes
None

In [ ]:
import pandas as pd
df = pd.DataFrame({'col_1': list(range(1, 11)), 'col_2':
list(range(11, 21)), 'col_3': list(range(21, 31)), 'col_4':
list(range(31, 41)), 'col_5': list(range(41, 51)), 'col_6':
list(range(51, 61)), 'col_7': list(range(61, 71)), 'col_8':
list(range(71, 81)), 'col_9': list(range(81, 91))})
print(df)

   col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
0      1     11     21     31     41     51     61     71     81
1      2     12     22     32     42     52     62     72     82
2      3     13     23     33     43     53     63     73     83
3      4     14     24     34     44     54     64     74     84
4      5     15     25     35     45     55     65     75     85
5      6     16     26     36     46     56     66     76     86
6      7     17     27     37     47     57     67     77     87
7      8     18     28     38     48     58     68     78     88
8      9     19     29     39     49     59     69     79     89
9     10     20     30     40     50     60     70     80     90

In [ ]:
import pandas as pd
df = pd.DataFrame({'col_1': list(range(1, 11)), 'col_2':
list(range(11, 21)), 'col_3': list(range(21, 31)), 'col_4':
list(range(31, 41)), 'col_5': list(range(41, 51)), 'col_6':
list(range(51, 61)), 'col_7': list(range(61, 71)), 'col_8':
list(range(71, 81)), 'col_9': list(range(81, 91))})
print(df.columns)
print(df.index)
print(df[['col_5', 'col_1', 'col_8']])
print(df[['col_5', 'col_1', 'col_8', 'col_9']])
# error becuase 100 not in print(df[['col_5', 'col_1', 'col_8', 'col_100']])
print(df.loc[0])
print(df.loc[1])

Index(['col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7', 'col_8',
       'col_9'],
      dtype='object')
RangeIndex(start=0, stop=10, step=1)
   col_5  col_1  col_8
0     41      1     71
1     42      2     72
2     43      3     73
3     44      4     74
4     45      5     75
5     46      6     76
6     47      7     77
7     48      8     78
8     49      9     79
9     50     10     80
   col_5  col_1  col_8  col_9
0     41      1     71     81
1     42      2     72     82
2     43      3     73     83
3     44      4     74     84
4     45      5     75     85
5     46      6     76     86
6     47      7     77     87
7     48      8     78     88
8     49      9     79     89
9     50     10     80     90
col_1     1
col_2    11
col_3    21
col_4    31
col_5    41
col_6    51
col_7    61
col_8    71
col_9    81
Name: 0, dtype: int64
col_1     2
col_2    12
col_3    22
col_4    32
col_5    42
col_6    52
col_7    62
col_8    72
col_9    82
Name: 1, dtype: int64

In [ ]:
import pandas as pd
df.index = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6',
'row_7', 'row_8', 'row_9', 'row_10']
print(df.loc[['row_6', 'row_2', 'row_9']])
# error becuse no 100 row print(df.loc[['row_6', 'row_2', 'row_9', 'row_100']])
print(df.loc['row_7':'row_9'])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_6      6     16     26     36     46     56     66     76     86
row_2      2     12     22     32     42     52     62     72     82
row_9      9     19     29     39     49     59     69     79     89
       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_7      7     17     27     37     47     57     67     77     87
row_8      8     18     28     38     48     58     68     78     88
row_9      9     19     29     39     49     59     69     79     89

In [ ]:
# Task 1.1: Print the first 4 rows using the slicing method.
print(df[:4])  # Slicing method to get the first 4 rows

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_1      1     11     21     31     41     51     61     71     81
row_2      2     12     22     32     42     52     62     72     82
row_3      3     13     23     33     43     53     63     73     83
row_4      4     14     24     34     44     54     64     74     84

In [ ]:
#Task 1.2: Print the last row with columns from col_5 to col_7.
print(df.iloc[-1, 4:7])  # -1 selects the last row, and 4:7 selects col_5 to col_7

col_5    50
col_6    60
col_7    70
Name: row_10, dtype: int64

In [ ]:
df.at['row_6', 'col_3']
print(df[3:6])
print(df.iloc[3])
print(df.iloc[[9, 8, 7]])
print(df.iloc[0, [2, 8, 3]])
# NameError: name 'Print' is not defined Print(df.iat[1, 2])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_4      4     14     24     34     44     54     64     74     84
row_5      5     15     25     35     45     55     65     75     85
row_6      6     16     26     36     46     56     66     76     86
col_1     4
col_2    14
col_3    24
col_4    34
col_5    44
col_6    54
col_7    64
col_8    74
col_9    84
Name: row_4, dtype: int64
        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_10     10     20     30     40     50     60     70     80     90
row_9       9     19     29     39     49     59     69     79     89
row_8       8     18     28     38     48     58     68     78     88
col_3    21
col_9    81
col_4    31
Name: row_1, dtype: int64

In [ ]:
#Task 1.3: Use iloc with position-based indexing to select rows 8, and 1 and columns 5 to 9.
print(df.iloc[[8, 1], 5:10])  # Selecting rows 8 and 1, columns 5 to 9

       col_6  col_7  col_8  col_9
row_9     59     69     79     89
row_2     52     62     72     82

In [ ]:
# Task 1.4: Use iloc with position-based indexing to select all rows and columns 1, 3, and 7.
print(df.iloc[:, [1, 3, 7]])  # Select all rows (:) and specific columns [1, 3, 7]

        col_2  col_4  col_8
row_1      11     31     71
row_2      12     32     72
row_3      13     33     73
row_4      14     34     74
row_5      15     35     75
row_6      16     36     76
row_7      17     37     77
row_8      18     38     78
row_9      19     39     79
row_10     20     40     80

In [ ]:
#Task 1.5: Select all rows where col_2 is NOT greater than 15
print(df[df['col_2'] <= 15])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_1      1     11     21     31     41     51     61     71     81
row_2      2     12     22     32     42     52     62     72     82
row_3      3     13     23     33     43     53     63     73     83
row_4      4     14     24     34     44     54     64     74     84
row_5      5     15     25     35     45     55     65     75     85

In [ ]:
#Task 1.6: Select all rows where col_2 is greater than 15 but not equal to 19
print(df[(df['col_2'] > 15) & (df['col_2'] != 19)])

        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_6       6     16     26     36     46     56     66     76     86
row_7       7     17     27     37     47     57     67     77     87
row_8       8     18     28     38     48     58     68     78     88
row_10     10     20     30     40     50     60     70     80     90

In [ ]:
import pandas as pd
# Create a sample dataframe
Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],

'Age': [28, 23, 35, 31],
'Gender': ['M', 'F', 'M', 'F']
}

df = pd.DataFrame(Biodata)
# Save the dataframe to a CSV file
df.to_csv('Biodata.csv', index=False)

In [ ]:
# Task 1.7: Save the above dataframe using tab-separated values
import pandas as pd

# Create a sample dataframe
Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
           'Age': [28, 23, 35, 31],
           'Gender': ['M', 'F', 'M', 'F']}

df = pd.DataFrame(Biodata)

# Save the dataframe to a TSV file
df.to_csv('Biodata.tsv', sep='\t', index=False)

In [ ]:
import pandas as pd
# Define a dictionary containing Students data
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],

'Height': [5.1, 6.2, 5.1, 5.2],
'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
# Declare a list that is to be converted into a column
address = ['Nablus', 'Alquds', 'Gaza', 'Haifa']
# Using 'Address' as the column name and equating it to the list
df['Address'] = address
# Observe the result
print(df)

     Name  Height Qualification
0   Ahmad     5.1           Msc
1     Ali     6.2            MA
2    Omar     5.1           Msc
3  Hamzah     5.2           Msc
     Name  Height Qualification Address
0   Ahmad     5.1           Msc  Nablus
1     Ali     6.2            MA  Alquds
2    Omar     5.1           Msc    Gaza
3  Hamzah     5.2           Msc   Haifa

In [ ]:
# Task 1.8: Add a new column (on the dataframe above) named Age with the following values [21, 23, 24, 21] and make it the third column.
import pandas as pd

# Create a sample dataframe
Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
           'Age': [28, 23, 35, 31],
           'Gender': ['M', 'F', 'M', 'F']}

df = pd.DataFrame(Biodata)

# Add a new column 'Age' with the specified values
df['Age'] = [21, 23, 24, 21]

# Rearrange the columns to make 'Age' the third column
df = df[['Name', 'Gender', 'Age']]

print(df)

     Name Gender  Age
0   Ahmad      M   21
1     Ali      F   23
2    Omar      M   24
3  Hamzah      F   21

In [ ]:
#Remove coulm
import pandas as pd
# Define a dictionary containing Students data
data = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],'Height': [5.1, 6.2, 5.1, 5.2],
'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
'Age': [21, 23, 24, 21]}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
# dropping passed columns
df1 = df.drop(["Height"], axis = 1)
# Observe the result
print(df)
print(df1)

     Name  Height Qualification  Age
0   Ahmad     5.1           Msc   21
1     Ali     6.2            MA   23
2    Omar     5.1           Msc   24
3  Hamzah     5.2           Msc   21
     Name  Height Qualification  Age
0   Ahmad     5.1           Msc   21
1     Ali     6.2            MA   23
2    Omar     5.1           Msc   24
3  Hamzah     5.2           Msc   21
     Name Qualification  Age
0   Ahmad           Msc   21
1     Ali            MA   23
2    Omar           Msc   24
3  Hamzah           Msc   21

In [ ]:
# Task 1.9: Remove column Height and column Age from the existing referring dataframe.
import pandas as pd

# Create a sample dataframe
Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
           'Age': [28, 23, 35, 31],
           'Gender': ['M', 'F', 'M', 'F'],
           'Height': [170, 165, 180, 175]}  # Assume 'Height' column exists

df = pd.DataFrame(Biodata)

# Remove the columns 'Height' and 'Age'
df = df.drop(columns=['Height', 'Age'])

print(df)

     Name Gender
0   Ahmad      M
1     Ali      F
2    Omar      M
3  Hamzah      F

In [ ]:
# Example 16: Adding a new row to the end of the Pandas DataFrame.
import pandas as pd
technologies= {
'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
'Fee' :[22000,25000,23000,24000,26000],
'Duration':['30days','50days','35days', '40days','55days'],
'Discount':[1000,2300,1000,1200,2500]
}

df = pd.DataFrame(technologies)
print(df)
# New list to append Row to DataFrame
list = ["Hyperion", 27000, "60days", 2000]
df.loc[len(df)] = list
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
3   Python  24000   40days      1200
4   Pandas  26000   55days      2500
    Courses    Fee Duration  Discount
0     Spark  22000   30days      1000
1   PySpark  25000   50days      2300
2    Hadoop  23000   35days      1000
3    Python  24000   40days      1200
4    Pandas  26000   55days      2500
5  Hyperion  27000   60days      2000

In [ ]:
import pandas as pd

# Create a sample dataframe
Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'],
           'Age': [28, 23, 35, 31],
           'Gender': ['M', 'F', 'M', 'F']}

df = pd.DataFrame(Biodata)

# Define the new row to insert (at second position)
new_row = {'Name': 'Zain', 'Age': 25, 'Gender': 'M'}

# Insert the new row into the second position using .iloc
df1 = pd.DataFrame([new_row])  # Convert the new row to a DataFrame
df = pd.concat([df.iloc[:1], df1, df.iloc[1:]], ignore_index=True)

print(df)

     Name  Age Gender
0   Ahmad   28      M
1    Zain   25      M
2     Ali   23      F
3    Omar   35      M
4  Hamzah   31      F

In [ ]:
# Example 17: Drop Rows by Index Labels
import pandas as pd
import numpy as np

# Create the DataFrame
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python"],
    'Fee' :[20000,25000,26000,22000],
    'Duration':['30day','40days',np.nan, None],
    'Discount':[1000,2300,1500,1200]
}

indexes = ['r1', 'r2', 'r3', 'r4']
df = pd.DataFrame(technologies, index=indexes)

print("Original DataFrame:")
print(df)

# Example 17: Drop rows by index labels (r1 and r2)
df1 = df.drop(['r1', 'r2'])
print("\nDataFrame after dropping rows 'r1' and 'r2' by index labels:")
print(df1)

# Alternatively, using the 'index' field to drop rows
df2 = df.drop(index=['r1', 'r2'])
print("\nDataFrame after dropping rows 'r1' and 'r2' using 'index' field:")
print(df2)

Original DataFrame:
    Courses    Fee Duration  Discount
r1    Spark  20000    30day      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000      NaN      1500
r4   Python  22000     None      1200

DataFrame after dropping rows 'r1' and 'r2' by index labels:
   Courses    Fee Duration  Discount
r3  Hadoop  26000      NaN      1500
r4  Python  22000     None      1200

DataFrame after dropping rows 'r1' and 'r2' using 'index' field:
   Courses    Fee Duration  Discount
r3  Hadoop  26000      NaN      1500
r4  Python  22000     None      1200

In [ ]:
#exp : 18
import pandas as pd
import numpy as np

# Create the DataFrame
technologies = {
    'Courses': ["Spark", "PySpark", "Hadoop", "Python"],
    'Fee': [20000, 25000, 26000, 22000],
    'Duration': ['30day', '40days', np.nan, None],
    'Discount': [1000, 2300, 1500, 1200]
}

indexes = ['r1', 'r2', 'r3', 'r4']
df = pd.DataFrame(technologies, index=indexes)

print("Original DataFrame:")
print(df)

# Example 18: Drop rows by index number (row position)
# Drop the first and third rows (index positions 0 and 2)
df1 = df.drop(df.index[[0, 2]])
print("\nDataFrame after dropping rows by index number (positions 0 and 2):")
print(df1)
# Example 1.18: Delete Rows 1 and 3 by Index Numbers (Positions 1 and 3)
df1 = df.drop(df.index[[1, 3]])
print("\nDataFrame after deleting rows 1 and 3:")
print(df1)

# Example 2.18: Remove First Row (Position 0)
df = df.drop(df.index[0])
print("\nDataFrame after deleting the first row:")
print(df)

# Example 3.18: Remove Last Row (Position -1)
df = df.drop(df.index[-1])
print("\nDataFrame after deleting the last row:")
print(df)

# Example 4.18: Delete Rows by Index Range (From index 2 to the end)
df1 = df.drop(df.index[2:])
print("\nDataFrame after deleting rows from index 2 to the end:")
print(df1)

Original DataFrame:
    Courses    Fee Duration  Discount
r1    Spark  20000    30day      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000      NaN      1500
r4   Python  22000     None      1200

DataFrame after dropping rows by index number (positions 0 and 2):
    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r4   Python  22000     None      1200

DataFrame after deleting rows 1 and 3:
   Courses    Fee Duration  Discount
r1   Spark  20000    30day      1000
r3  Hadoop  26000      NaN      1500

DataFrame after deleting the first row:
    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000      NaN      1500
r4   Python  22000     None      1200

DataFrame after deleting the last row:
    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000      NaN      1500

DataFrame after deleting rows from index 2 to the end:
    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000      NaN      1500

In [ ]:
# exp 19
import pandas as pd

# Define the DataFrame
technologies = {
    'Courses': ["Spark", "PySpark", "Hadoop", "Python"],
    'Fee': [20000, 25000, 26000, 22000],
    'Duration': ['30day', '40days', None, '60days'],
    'Discount': [1000, 2300, 1500, 1200]
}

df = pd.DataFrame(technologies)

print("Original DataFrame:")
print(df)

# Example 1: Drop Row with Index 0
df1 = df.drop(0)
print("\nDataFrame after deleting row with index 0:")
print(df1)

# Example 2: Drop Rows with Indexes 0 and 3
df3 = df.drop([0, 3])
print("\nDataFrame after deleting rows with indexes 0 and 3:")
print(df3)

# Example 3: Drop Rows with Index Range 0 to 1 (inclusive)
df4 = df.drop(range(0, 2))
print("\nDataFrame after deleting rows with index range 0 to 1:")
print(df4)

Original DataFrame:
   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000     None      1500
3   Python  22000   60days      1200

DataFrame after deleting row with index 0:
   Courses    Fee Duration  Discount
1  PySpark  25000   40days      2300
2   Hadoop  26000     None      1500
3   Python  22000   60days      1200

DataFrame after deleting rows with indexes 0 and 3:
   Courses    Fee Duration  Discount
1  PySpark  25000   40days      2300
2   Hadoop  26000     None      1500

DataFrame after deleting rows with index range 0 to 1:
  Courses    Fee Duration  Discount
2  Hadoop  26000     None      1500
3  Python  22000   60days      1200

In [ ]:
# exp 20 : Drop Rows by Checking Conditions
import pandas as pd

# Define the DataFrame
technologies = {
    'Courses': ["Spark", "PySpark", "Hadoop", "Python"],
    'Fee': [20000, 25000, 26000, 22000],
    'Duration': ['30day', '40days', None, '60days'],
    'Discount': [1000, 2300, 1500, 1200]
}

df = pd.DataFrame(technologies)

print("Original DataFrame:")
print(df)

# Example 1: Remove rows where the Fee is >= 24000
df.drop(df[df['Fee'] >= 24000].index, inplace=True)
print("\nDataFrame after removing rows where Fee >= 24000:")
print(df)

# Example 2: Select rows where the Fee is >= 24000 using boolean indexing
df2 = df[df['Fee'] >= 24000]
print("\nDataFrame with rows where Fee >= 24000:")
print(df2)

# Example 3: Use loc to filter rows where the Fee is >= 24000
df2 = df.loc[df['Fee'] >= 24000]
print("\nDataFrame using loc for rows where Fee >= 24000:")
print(df2)

Original DataFrame:
   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000     None      1500
3   Python  22000   60days      1200

DataFrame after removing rows where Fee >= 24000:
  Courses    Fee Duration  Discount
0   Spark  20000    30day      1000
3  Python  22000   60days      1200

DataFrame with rows where Fee >= 24000:
Empty DataFrame
Columns: [Courses, Fee, Duration, Discount]
Index: []

DataFrame using loc for rows where Fee >= 24000:
Empty DataFrame
Columns: [Courses, Fee, Duration, Discount]
Index: []

In [ ]:
#Task 1.11: delete all rows with Fee >= 2200 and Discount == 2300. Save the result in a file named task.csv
import pandas as pd

# Define the DataFrame
technologies = {
    'Courses': ["Spark", "PySpark", "Hadoop", "Python"],
    'Fee': [20000, 25000, 26000, 22000],
    'Duration': ['30day', '40days', None, '60days'],
    'Discount': [1000, 2300, 1500, 2300]
}

df = pd.DataFrame(technologies)

# Print original DataFrame
print("Original DataFrame:")
print(df)

# Remove rows where Fee >= 22000 and Discount == 2300
df_cleaned = df.drop(df[(df['Fee'] >= 22000) & (df['Discount'] == 2300)].index)

# Save the result to a CSV file named 'task.csv'
df_cleaned.to_csv('task.csv', index=False)

# Print the cleaned DataFrame
print("\nCleaned DataFrame:")
print(df_cleaned)

Original DataFrame:
   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000     None      1500
3   Python  22000   60days      2300

Cleaned DataFrame:
  Courses    Fee Duration  Discount
0   Spark  20000    30day      1000
2  Hadoop  26000     None      1500

In [ ]:
# Task 1.12: Write a code to delete all rows with a Non/NaN value.
import pandas as pd
import numpy as np

# Define the DataFrame with some NaN values
technologies = {
    'Courses': ["Spark", "PySpark", "Hadoop", "Python"],
    'Fee': [20000, 25000, 26000, np.nan],
    'Duration': ['30day', '40days', None, '60days'],
    'Discount': [1000, 2300, 1500, 2300]
}

df = pd.DataFrame(technologies)

# Print original DataFrame
print("Original DataFrame:")
print(df)

# Delete rows with any NaN value
df_cleaned = df.dropna()

# Print the cleaned DataFrame
print("\nCleaned DataFrame (Rows with NaN removed):")
print(df_cleaned)

Original DataFrame:
   Courses      Fee Duration  Discount
0    Spark  20000.0    30day      1000
1  PySpark  25000.0   40days      2300
2   Hadoop  26000.0     None      1500
3   Python      NaN   60days      2300

Cleaned DataFrame (Rows with NaN removed):
   Courses      Fee Duration  Discount
0    Spark  20000.0    30day      1000
1  PySpark  25000.0   40days      2300

In [ ]:
# Task 1.13: Write a code to delete all rows having courses equal to Spark or Hadoop.
import pandas as pd

# Define the DataFrame
technologies = {
    'Courses': ["Spark", "PySpark", "Hadoop", "Python"],
    'Fee': [20000, 25000, 26000, 22000],
    'Duration': ['30day', '40days', None, '60days'],
    'Discount': [1000, 2300, 1500, 2300]
}

df = pd.DataFrame(technologies)

# Print original DataFrame
print("Original DataFrame:")
print(df)

# Delete rows where Courses is 'Spark' or 'Hadoop'
df_cleaned = df[~df['Courses'].isin(['Spark', 'Hadoop'])]

# Print the cleaned DataFrame
print("\nCleaned DataFrame (Rows with 'Spark' or 'Hadoop' removed):")
print(df_cleaned)

Original DataFrame:
   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000     None      1500
3   Python  22000   60days      2300

Cleaned DataFrame (Rows with 'Spark' or 'Hadoop' removed):
   Courses    Fee Duration  Discount
1  PySpark  25000   40days      2300
3   Python  22000   60days      2300

In [ ]:
#exp 14:
import pandas as pd
# Create two sample DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
'B': ['B4', 'B5', 'B6', 'B7'],
'C': ['C4', 'C5', 'C6', 'C7'],
'D': ['D4', 'D5', 'D6', 'D7']})

# Concatenate the DataFrames vertically
result = pd.concat([df1, df2])
print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [ ]:
# Task 1.14: Perform the concatenation in the above example along columns.
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

# Concatenate the DataFrames along columns (horizontally)
result = pd.concat([df1, df2], axis=1)
print(result)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [ ]:
#Task 1.15: Run the samples above and figure out what returns.
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

# Concatenate vertically (along rows)
result_vertical = pd.concat([df1, df2])
print(result_vertical)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [ ]:
# Task 1.16: Lets say that we want to merge frames df1 and df2 using a left outer join, Select all the columns from df1 but only column colE from df2.
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    'key': ['K0', 'K1', 'K2', 'K3'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})

df2 = pd.DataFrame({
    'key': ['K0', 'K1', 'K2', 'K3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3'],
    'colE': ['E0', 'E1', 'E2', 'E3']
})

# Perform left outer join on 'key' and select specific columns
result = pd.merge(df1, df2[['key', 'colE']], on='key', how='left')

# Print the result
print(result)

  key   A   B colE
0  K0  A0  B0   E0
1  K1  A1  B1   E1
2  K2  A2  B2   E2
3  K3  A3  B3   E3